*{box-sizing: border-box;}
		
header, nav, main, footer { display: block;}



body	{background-color: #FCEBB6;
		background-image: url(background.gif);
		color: #221811;
		font-family: Verdana, Arial, sans-serif;}
		
header	{height: 150px;
		background-image: url(javajamlogo.jpg);
		background-repeat: no-repeat;	
		background-color: #D2B48C;}
		
main	{padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 2em;
		display: block;
		margin-left: 200px;
		background-color: #fef6c2;
		}
	
		


h1		{padding-top: 45px;
		padding-left: 220px;
		font-size: 3em;}

h4		{background-color: #D2B48C;
		font-size: 1.2em;
		padding-left: 10px;
		padding-bottom: 0px;
		text-transform: uppercase;
		border-bottom: 2px solid #221811;
		clear: left;
		}

nav		{text-align: center;
		font-weight: bold;
		font-size: 1.5em;
		padding-top: 10px;
		float: left;
		width: 200px;
		}
		
nav ul	{list-style-type: none;
		padding-left: 0px;
		}
		
nav a 	{text-decoration: none;}
nav a:link{color: #fef6c2;}
nav a:visited{color: #d2b48c;}
nav a:hover{color: #cc9933;}

img		{padding-left: 10px;
		padding-right:	10px;}

audio	{display: block;
		margin-top: 1em;}
		
form	{padding: 2em;}

label	{float: left;
		display: block;
		text-align: right;
		width: 8em;
		padding-right: 1em;}

input	{display: block;
		margin-bottom: 1em;}

textarea {display: block;
		margin-bottom: 1em;}

#mySubmit{margin-left: 9.5em;}
		
table	{margin: auto;
		width: 90%;
		border-spacing: 0;
		background-color: #ffffcc;}
		
td		{padding: 10px;}

th		{padding: 10px;}

tr:nth-of-type(odd)	{background-color: #d2b48c;}
		
footer	{background-color: #D2B48C;
		font-size: .60em;
		text-align: center;
		font-style: italic;
		padding-bottom: 10px;
		border-top: solid 2px #221811;
		}

#wrapper{background-color:#231814;
		width: 80%;
		min-width: 960px;
		max-width: 1280px;
		box-shadow: 5px 5px 5px #5E0606;
		margin-right: auto;
		margin-left: auto;
		padding-right:0;
		padding-left: 0;
		}
main p, main h2, main h3, main h4, main ul, main div, main dl {padding-left: 3em;
padding-right:2em ;}

.details{padding-left: 20%;
		padding-right: 20%;
		overflow: auto;}
		
#heroroad{background-image: url(heroroad.jpg);
		background-size: 100%;
		
		height: 250px;}
		
#heromugs{background-image: url(heromugs.jpg);
		background-size: 100%;
		height: 250px;
		}

#heroguitar{background-image: url(heroguitar.jpg);
		background-size: 100%;
		height: 250px;}

#herocouch	{height: 250px;
			background-image: url(herocouch.jpg);
			background-size: 100%;}

#moblie		{display: none;}

#desktop	{display: inline;}

.clearleft	{margin: 1em;
			clear: left;
}

		
.floatleft{float: left;
		padding: 0px 20px 20px 0px;}
		
@media only screen and (max-width: 1024px) {
	body	{margin: 0;
	background-image: none;}
	
	#wrapper{ width: auto;
			min-width: 0;
			margin: 0;
			padding: 0;
			box-shadow: none;}
			
	header	{border-bottom: 5px solid #fef6c2;}
	
	h1		{margin-top: 0;
			margin-bottom: 1em;
			padding-top: 1em;
			padding-bottom: 1em;
			font-size: 2.5em;}
	
	nav		{float: none;
			width: auto;
			padding-top: 0;
			margin: 10px;
			font-size: 1.3em;}
			
	nav li	{display: inline-block;}
	
	nav a 	{padding: 1em;
			width: 8em;
			font-weight: bold;
			border-style: none;}
			
	nav ul	{padding: 0;
			margin: 0;}
			
	#heroroad{margin: 0;
			padding: 0;}
			
	#heromugs{margin: 0;
			padding: 0;}
			
	#heroguitar{margin: 0;
			padding: 0;}
	#herocouch{margin:0;
	padding: 0;}

	main	{padding: 0;
			margin:	0;
	font-size: 90%;}
}

@media only screen and (max-width: 768px) {
	
	header	{background-image: url(javajammini.jpg);
			height: 128px;}
	
	h1		{font-size: 2em;
			text-align: center;
			padding-left: 0;}
			
	nav		{margin: 0;}
	
	nav a	{display: block;
			padding: 0.2em;
			width: auto;
			border: 1px solid #fef6c2;}
			
	nav li	{display: block;}
	
	main	{padding: 1px;}
	
	h2		{padding-top: 0.5em;
			padding-right: 0;
			padding-bottom: 0;
			padding-left: 0.5em;
			margin-right: 0.5em;}
	
	.details{padding-left: 0;
			padding-right: 0;}
			
	#heroroad{background-image: none;
			height: auto;}
			
	#heromugs{background-image: none;
			height: auto;}
			
	#heroguitar{background-image: none;
			height: auto;}
	#herocouch	{background-image: none;
			height: auto;}
	
	.floatleft{padding-left: 0.5em;
			padding-right: 0.5em;}
	
	#mobile	{display: inline;}
	
	#desktop{display: none;}
}



		 